.Product-wrapper{
    margin-top: 32px;
    background: #FFF;
    padding: 32px;
    color: #333;
    img{
        max-width: 680px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .product-info{
        .p-quantity{
            font-size: 14px;
        }
        .p-title{
            font-size: 24px;
            margin-bottom: 32px;
        }
        .p-price{
            font-size: 46px;
            margin-bottom: 32px;
        }
        button{
            background: #3483FA;
            width: 220px;
        }
    }
    .descr-wrapper{
        margin-top: 32px;
        h3{
            font-size: 28px;
        }
        p{
            font-size: 16px;
            margin-top: 32px;
            color: #666;
        }
    }
}